:root {
  --bc-primary: #3A4450;
  --bc-secondary: #FF6600;
}

/* MEDIA QUERIES */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar span.position-absolute {
    /* display: none; */
    font-size: 10px !important;
    top: 16px !important;
  }

  .navbar .img-logo {
    width: 100px !important;
  }

  .title-hero h4 {
    font-size: 16px;
  }

  .title-hero button {
    padding: .75rem 2rem !important;
  }
}

/* CSS GLOBBAL */
.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.mt-5r {
  margin-top: 5rem;
}

.pt-5r {
  padding-top: 5rem !important;
}

.pb-10r {
  padding-top: 10rem !important;
}


/* CUSTOME */

/* Landing Page */
.navbar .btn-login {
  background: var(--bc-primary) !important;
  padding: .75rem 2rem;
}

.navbar span.position-absolute {
  top: 18px;
}

.navbar-toggler {
  border-radius: 3px !important;
}

span.navbar-toggler-icon {
  background-image: url("./../../../public/assets/toggle.svg");
  width: 1.25em !important;
}

.navbar-toggler:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 2px !important;
}

.navbar-nav .nav-link.active {
  color: var(--bc-secondary) !important;
}

.hero .row {
  background: url("./../../../public/assets/img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero .title-hero {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero button {
  background: var(--bc-secondary);
}

.hero button:hover {
  background: white;
  color: var(--bc-secondary) !important;
}

/* Form Login */
.form-login {
  background: url("./../../../public/assets/bg-login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-login .text-muted {
  color: var(--bc-secondary) !important;
  float: right;
}

.form-login button {
  background-color: var(--bc-primary);
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.form-login p a {
  color: var(--bc-secondary) !important;
}

.form-login .btn-back {
  background-color: #FF6600;
}

.form-login .btn-back {
  &:hover {
    background-color: #FF6600 !important;
  }

  &:focus {
    background-color: #FF6600 !important;
  }

  &:active {
    background-color: #FF6600 !important;
  }
}

.footer-login {
  background-color: var(--bc-primary);
  border-top: 5px solid var(--bc-secondary);
  padding: 2.5rem 0;
}

.form-login .form-floating>.form-control {
  height: calc(3rem + calc(var(--bs-border-width)* 2)) !important;
  min-height: calc(3rem + calc(var(--bs-border-width)* 2)) !important;
}

.form-login .form-floating>label {
  padding: 0.75rem 0.75rem !important;
}
